/*--------------------
----------------------
       COMMON
----------------------
----------------------*/

body {
    font-family: 'PT Sans', sans-serif;

}

.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.container {
    max-width: 68.75rem;
    padding: 0rem 1.25rem;
    margin: auto;
}

section {
    padding: 3.125rem 1.875rem;
}

.card {
    margin: 1.25rem 0;
    padding: 0.625rem;
}

img {
    width: 100%;
}

.btn {
    border-style: none;
    border-radius: 30px;
    padding: 0.625rem 1.25rem;
    
}