/*--------------------
----------------------
       HEADER
----------------------
----------------------*/

header {
    background-color: var(--blue);
    padding: 1.25rem 0rem;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
}

header .row {
    margin-right: 40px;
    margin-left: 40px;
}

header button {
    background-color: var(--blue);
    border-style: none;
    font-size: 1.875rem;
}

header i {
    color: white;
}

header nav {
    display: none;
}

header ul {
    display: flex;
    list-style: none;
}

header .menu {
    display: flex;
    align-content: center;
}

header .btn:last-child {
    background-color: white;
    color: black;
}

header .logo {
    display: flex;
    align-items: center;
}