/*--------------------
----------------------
    UTILITY SECTION
----------------------
----------------------*/

.utility {
    padding-top: 6.75rem;
}

.utility .card {
    width: 100%;
    background-color: var(--celes);
    border-radius: 20px;
    text-align: center;
}

.utility h3 {
    color: var(--blue);
    padding: 0.625rem 0;
}

.utility p {
    padding: 0.625rem 0;
}

.utility .img {
    position: relative;
    bottom: -14px;
}

.utility .utility-button {
    background-color: var(--blue);
    color: white;
}

.utility .icon {
    color: var(--blue);
    font-size: 2.5rem;
}
/*--------------------
----------------------
    PLANNING SECTION
----------------------
----------------------*/

.planning {
    background-color: var(--purple);
}

.planning .card {
    width: 100%;
}

/*--------------------
----------------------
 TESTIMONIALS SECTION
----------------------
----------------------*/

.testimonials .card {
    background-color: var(--purple);
}

/*--------------------
----------------------
  BENEFITS SECTION
----------------------
----------------------*/

.benefits {
    background-color: var(--purple);
}

.benefits .card {
    background-color: white;
}

/*--------------------
----------------------
  ABOUT-US SECTION
----------------------
----------------------*/

/*--------------------
----------------------
  GET-STARTED SECTION
----------------------
----------------------*/

.get-started {
    background-color: var(--purple);
}

