/*--------------------
----------------------
    UTILITY SECTION
----------------------
----------------------*/

.utility {
    padding-top: 6.75rem;
}

.utility .card {
    width: 100%;
}

/*--------------------
----------------------
    PLANNING SECTION
----------------------
----------------------*/

.planning {
    background-color: var(--purple);
}

.planning .card {
    width: 100%;
}

/*--------------------
----------------------
 TESTIMONIALS SECTION
----------------------
----------------------*/

.testimonials .card {
    background-color: var(--purple);
}

/*--------------------
----------------------
  BENEFITS SECTION
----------------------
----------------------*/

.benefits {
    background-color: var(--purple);
}

.benefits .card {
    background-color: white;
}