/*--------------------
----------------------
    UTILITY SECTION
----------------------
----------------------*/

.utility {
    padding-top: 6.75rem;
}

.utility .card {
    width: 100%;
    background-color: var(--celes);
    border-radius: 20px;
    text-align: center;
}

.utility h3 {
    color: var(--blue);
    padding: 0.625rem 0;
}

.utility p {
    padding: 0.625rem 0;
}

.utility .img {
    position: relative;
    bottom: -35px;
}

.utility .utility-button {
    background-color: var(--blue);
    color: white;
}

.utility .icon {
    color: var(--blue);
    font-size: 2.5rem;
}
/*--------------------
----------------------
    PLANNING SECTION
----------------------
----------------------*/

.planning {
    background-color: var(--purple);
}

.planning .card {
    width: 100%;
    text-align: center;
    margin: 0.625rem;
}

.planning .strategic,.strategic-title {
    color: white;
    text-align: left;
}

.planning .app {
    background-color: white;
    border-radius: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.planning-button {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: var(--purple);
    border-style: none;
    padding: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.planning-button i {
font-size: 1.25rem;
}

.planning h3,p,.planning-button {
    margin: 0.625rem 0;
}

/*--------------------
----------------------
 TESTIMONIALS SECTION
----------------------
----------------------*/

.testimonials .card {
    background-color: var(--purple);
    border-radius: 1.875rem;
    text-align: center;
    color: white;
}

.testimonials .info {
    text-align: center;
}

.testimonials h2 {
    color: var(--purple);
}

.testimonials img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;  /* serve ad adattare l'immagine e fare si che tagli gli eccessi*/
}

.testimonials h2,small,.info {
    margin: 1.25rem 0;
}

.testimonials .description {
    padding: 0 1.875rem;
}

/*--------------------
----------------------
  BENEFITS SECTION
----------------------
----------------------*/

.benefits {
    background-color: var(--purple);
}

.benefits .card {
    background-color: white;
    border-radius: 1.875rem;

}

.benefits h1 {
    font-size: 3.75rem;
}

.benefits h3 {
    margin: 1.25rem 0;
}

.benefits h1,h3 {
    color: var(--purple);
}

.benefits .btn {
    background-color: var(--purple);
    color: white;
}

/*--------------------
----------------------
  ABOUT-US SECTION
----------------------
----------------------*/
.about-us .small {
    position: relative;
}

.about-us .quote {
    font-size: 3.75rem;
    color: var(--purple);
    position: absolute;
    top: 5%;
    right: 40%;

}

.about-us .title {
    font-size: 2.5rem;
    padding-bottom: 1.875rem;
}

.about-us .linkedin {
    margin-right: 0.625rem;
}

.about-us h2 {
    color: var(--purple);
}

.about-us img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
}

.about-us button {
    background-color: var(--purple);
    color: white;
}

/*--------------------
----------------------
  GET-STARTED SECTION
----------------------
----------------------*/

.get-started {
    background-color: var(--purple);
    text-align: center;
    color: white;
}

.get-started small,h1,h2,p,button {
    margin: 1.25rem 0;
}

.get-started h1 {
    font-size: 3.75rem;
    color: var(--yellow);
}

.get-started button {
    color: var(--purple);
}