/*--------------------
----------------------
       MEDIA-QUERY
----------------------
----------------------*/


/* --------------
        HEADER
   -------------- */

   @media screen and (min-width: 992px) {
        header button {
            display: none;
        }

        header nav {
            display: flex;
        }
   }

/* --------------
   UTILITY SECTION
   -------------- */

   @media screen and (min-width: 768px) {
    .utility .card {
        width: calc(100% / 3);
    }

    .utility .big {
        width: calc((100% / 3) * 2);
    }

   }

  