/*--------------------
----------------------
       MEDIA-QUERY
----------------------
----------------------*/


/* --------------
        HEADER
   -------------- */

   @media screen and (min-width: 992px) {
        header button {
            display: none;
        }

        header nav {
            display: flex;
        }
   }

/* --------------
   UTILITY SECTION
   -------------- */

   @media screen and (min-width: 768px) {
    .utility .card {
        width: calc(100% / 3);
    }

    .utility .big {
        width: calc((100% / 3) * 2);
    }

   }

   /* --------------
   PLANNING SECTION
   -------------- */

   @media screen and (min-width: 768px) {
    .planning .card {
        width: 50%;
    }

   /* --------------
   BENEFITS SECTION
   -------------- */

   @media screen and (min-width: 768px) {
    .benefits .card {
        margin: 0.625rem;
        width: calc(50% - (0.625rem * 2));
    }

    @media screen and (min-width: 992px) {
        .benefits .card {
            margin: 0.625rem;
            width: calc(100% / 3 - (0.625rem * 2));
        }
    

  