/*--------------------
----------------------
       VARIABLES
----------------------
----------------------*/

:root {
    --blue: #0084fd;
    --celes: #b5ddff;
    --purple: #9792e4;
    --yellow: #fdc15f;
    --black: #333333;
}
